/* Styles for artifacts page */

.landing-page-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    text-align: center;
    align-items: center;
    font-weight: normal;
    color: #43516a;
    width: 95%;
    max-width: 600px;
    margin: 10px auto;
}

.subpage-content {
    font-size: clamp(1.0rem, 1.2vw, 1.2rem);
    font-weight: 450;
    text-align: justify;
    width: 100%;
    margin: 0 auto; /* auto centers the div inside of parent */
    justify-content: center;
}


@media (max-width: 800px) {
    .landing-page-content {
        position: fixed;
        width: 95%; 
        padding: 20px;
        box-sizing: border-box;
    }

    #artifacts-about {
        font-size: clamp(1.0rem, 3vw, 1.3rem);
    }
}

@media (max-width: 568px) {
    .landing-page-content {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    #artifacts-about {
        font-size: clamp(1.0rem, 3vw, 1.4rem);
    }

    .nav-link {
        font-size: clamp(1.0rem, 3vw, 1.4rem);
        text-align: center;
        margin: 2px;
        font-weight: 450;
        font-family: monospace;
    }

    #linked-page-header {
        font-size: 16px;
        font-weight: 590;
    }
}