.landing-page-content {
    position: static !important;
    transform: none !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 60px;
    padding-bottom: 50px;
    max-width: 600px;
    margin: 0 auto;
}

#blurb {
    padding-top: 5px;
    padding-bottom: 0;
}

#projects-container {
    margin-top: 10px;
}

.project-item {
    margin-bottom: 25px;
    padding-bottom: 2px !important;
    transition: all 0.3s ease;
}

.project-item:hover {
    transform: translateX(5px);
}

.project-item:hover .project-title {
    text-decoration: underline;
    text-decoration-color: #ae79aa;
    text-decoration-thickness: 3px;
}

.project-title {
    font-weight: 700;
    color: #596780;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    margin-bottom: 8px;
}

.project-tech {
    font-size: clamp(0.85rem, 1.5vw, 0.95rem);
    font-weight: 600;
    color: #92658f;
    font-style: italic;
    margin-bottom: 8px;
}

.project-description {
    font-size: clamp(1rem, 1.2vw, 1.3rem);
    font-weight: 500;
    line-height: 1.4;
    text-align: justify;
}


@media (max-width: 800px) {
    .landing-page-content {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media (max-width: 568px) {
    .landing-page-content {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .project-description {
        font-size: clamp(1rem, 1.2vw, 1.3rem);
        font-weight: 5020;
    }
}