.landing-page-content {
  position: static !important;
  transform: none !important;
  padding-top: 60px;
  padding-bottom: 50px;
  max-width: 600px;
  margin: 0 auto;
}

#linked-page-header {
  font-size: 1.5rem;
  font-weight: 700;
  color: #596780;
  text-decoration: none;
}

.research-page-media-list {
    font-size: clamp(1rem, 1.3vw, 1.2rem);
    padding-top: 10px;
}

.media-list {
    text-align: left; 
    max-height: 152px; 
    overflow-y: auto; 
    padding-left: 20px;
}

@media (max-width: 568px) {
    .landing-page-content {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .research-page-media-list {
        font-size: clamp(0.96rem, 1.3vw, 1.2rem);
        padding-top: 8px;
        padding-right: 2px;
    }

    .media-list {
      text-align: left; 
      max-height: 160px; 
      overflow-y: auto; 
      padding-left: 20px;
  }
}

@media (max-width: 800px) {
  .landing-page-content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
