/* This is some of my website's CSS */


html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #dfeff3 0%, #b3cccd 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-weight: 450;
}

html, body, *, .btn, .btn-outline-success, a, button {
    cursor: url('./assets/fish_cursor.cur'), auto !important;
}


a {
    color: #92658f;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #e1845f;
}

/* Main container */
.landing-page-content {
    position: fixed;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    text-align: center;
    font-weight: normal;
    color: #43516a;
    width: 95%;
    max-width: 600px;
    padding: 20px;
    margin: 10px 0;
    box-sizing: border-box;
}

#email-link-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: #8a638c;
    text-decoration: none;
    cursor: pointer;
}

#email-link-button:hover {
    text-decoration: underline;
}

#linked-page-header {
    /* padding-bottom: 20px; */
    font-size: 18px;
    font-weight: 590;
}

/* Flexbox container for the two main content divs */
#blurb {
    padding-top: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify; 
    color: #3e4b61;
    width: 95%;
    max-width: 600px;
}


#blurb-about {
    /* flex: 0 1 280px; */
    font-family: monospace;
    font-weight: 570;
    font-style: normal;
    font-size: clamp(1.0rem, 1.5vw, 1.3rem);
}

#blurb-pic {
    flex: 0 1 auto;
    font-size: clamp(1.0rem, 2vw, 1.3rem);
    font-family: monospace;
    line-height: 1.2;
    white-space: pre;
    width: 100%;  
    overflow-x: auto;
    text-align: center; 
    margin-bottom: 5rem;
}

#blurb-pic pre {
    color:#3f5b69 !important;
    font-weight: 450;
    margin: 0; 
    width: fit-content;
    margin: 0 auto;
    text-align: left; 
}

#blurb-nav {
    font-size: clamp(1.0rem, 1.5vw, 1.3rem);
    text-align: left !important;
    font-weight: 570;
}

#artifacts-about {
    font-size: clamp(1.0rem, 1.2vw, 1.2rem);
    text-align: justify;
    align-items: center;
    max-width: 95%;
    margin: 0 auto; 
    justify-content: center;
}


.custom-nav {
    text-align: center;
    padding-bottom: 10px;
    line-height: 0.9;
    font-size: clamp(1.0rem, 3vw, 1.2rem);

}

.nav-link {
    color: #92658f;
    text-decoration: none;
    font-family: monospace;
    font-weight: 450;
    font-size: clamp(1.0rem, 1.1vw, 1.3rem);
    display: column;
}

.ascii-art {
    color:#496776 !important;
    margin-top: 8px;
    line-height: 1.2;
}

/* Tablet styles */
@media (max-width: 800px) {
    .landing-page-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%; 
        /* max-width: none; */
        /* margin-top: 8px; */
        padding: 20px;
        box-sizing: border-box;
    }

    #blurb {
        flex-direction: column;
        align-items: center;
        gap: 10px; 
        width: 100%;
    }

    #blurb-pic {
        order: 0;
        font-size: clamp(1.0rem, 3vw, 1.3rem);
        width: 100%;
        overflow-x: auto;
        padding: 0;
        margin: 2px 0; /*left and right margin for ascii pic */
        text-align: center;
        line-height: 1.2; 
    }

    #blurb-pic pre {
        font-size: inherit;
        line-height: inherit;
        margin: 0 auto;
        width: fit-content;
        min-width: 0; /* allow 4 shrinking */
    }

    #blurb-about {
        max-width: 100%;
        font-size: clamp(1.0rem, 3vw, 1.2rem);
        text-align: justify;
        font-family: monospace;
        font-style: normal;
        font-weight: 470;
        width: 100%;
        box-sizing: border-box;
    }

    #blurb-nav {
        padding-left: 5px;
        font-size: clamp(1.0rem, 3vw, 1.2rem);
    
    }

    #artifacts-about {
        font-size: clamp(1.0rem, 3vw, 1.3rem);
    }
}


@media (max-width: 568px) {
    .landing-page-content {
        width: 90%;
        padding-left: 25px;
        padding-right: 25px;
    }

    #blurb-pic {
        font-size: clamp(1.0rem, 2vw, 1.1rem); 
        margin-bottom: 20px;
    }

    #blurb-pic pre {
        line-height: 1.1;
    }
    
    #blurb-about {
        font-size: clamp(1.0rem, 3vw, 1.3rem);
        font-weight: 470;
        font-family: monospace;
        font-style: normal;
    }

    #blurb-nav {
        font-weight: 470;
        font-size: clamp(1.0rem, 3vw, 1.2rem);
    }

    #artifacts-about {
        font-size: clamp(1.0rem, 2vw, 1.4rem);
    }

    .nav-link {
        font-size: clamp(1.0rem, 3vw, 1.4rem);
        text-align: center;
        margin: 2px 0;
        font-weight: 450;
        font-family: monospace;
    }

    #linked-page-header {
        font-size: 16px;
        font-weight: 590;
    }
}