
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #dfeff3 0%, #bdd5d6 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-weight: 450;
}

html, body, *, .btn, .btn-outline-success, a, button {
    cursor: url('./assets/fish_cursor.cur'), auto !important;
}

p.landing-about {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* This makes it so that all unordered lists have no bullets (or markers) and that they're not indented (via "padding: 0;"). Margin is just used for stylistic purposes. */
ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

/* This makes it so that all ordered lists have no numbering (or markers) and that they're not indented (via "padding: 0;"). Margin is just used for stylistic purposes.*/
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Makes it so that the menu is fixed on the top left of the page even as the user scrolls. I used !important to override the bootstrap CSS properties. */
.btn-group {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    margin: 20px auto; /* Add space above/below and center horizontally */
    background-color: #FFFFFF !important;
    width: fit-content;
}

img {
    animation: shake 0.5s;
}

a {
    color: #92658f;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #e1845f;
}

/* Main container - fixed and centered */
.landing-page-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    text-align: center;
    font-weight: normal;
    color: #35435c;
    width: 95%;
    max-width: 600px;
    padding: 20px;
    margin: 10px 0;
    box-sizing: border-box;
}

#email-link-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: #8a638c;
    text-decoration: none;
    cursor: pointer;
}

#email-link-button:hover {
    text-decoration: underline;
}

/* Flexbox container for the two main content divs */
#blurb {
    padding-top: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify; 
    color: #35435c;
    width: 95%;
    max-width: 600px;
}


#blurb-name-header {
    /* font-family: "Doto", sans-serif; */
    font-family: monospace;
    font-weight: 800;
    color: #596780;
    font-size: clamp(1.5rem, 3vw, 1.8rem);
    text-align: left;
    margin-bottom: 12px;
}


/* Text content container */
#blurb-about {
    /* flex: 0 1 280px; */
    font-family: monospace;
    font-weight: 570;
    font-style: normal;
    font-size: clamp(1.0rem, 1.5vw, 1.3rem);
}

#blurb-pic {
    flex: 0 1 auto;
    font-size: clamp(1.0rem, 2vw, 1.3rem);
    font-family: monospace;
    line-height: 1.2;
    white-space: pre;
    width: 100%;  
    overflow-x: auto;
    text-align: center; 
    margin-bottom: 5rem;
}

#blurb-pic pre {
    color:#496776 !important;
    font-weight: 450;
    margin: 0; 
    width: fit-content;
    margin: 0 auto;
    text-align: left; 
}

#blurb-nav {
    font-size: clamp(1.0rem, 1.5vw, 1.3rem);
    text-align: left !important;
    font-weight: 570;
}

#artifacts-about {
    font-size: clamp(1.0rem, 1.2vw, 1.3rem);
    text-align: justify;
    align-items: center;
    max-width: 90%;
    margin: 0 auto; 
    padding: 0 5px;
    justify-content: center;
}


.custom-nav {
    text-align: center;
    padding-bottom: 10px;
    line-height: 0.9;
    font-size: clamp(1.0rem, 3vw, 1.2rem);

}

.nav-link {
    color: #92658f;
    text-decoration: none;
    font-family: monospace;
    font-weight: 450;
    font-size: clamp(1.0rem, 1.2vw, 1.3rem);
    display: column;
}

#ascii-art {
    color:#496776 !important;
    margin-top: 8px;
    /* font-size: px; */
    line-height: 1.2;
}

/* Tablet styles */
@media (max-width: 800px) {
    .landing-page-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%; 
        /* max-width: none; */
        /* margin-top: 8px; */
        padding: 15px;
        box-sizing: border-box;
    }

    #blurb {
        flex-direction: column;
        align-items: center;
        gap: 10px; 
        width: 100%;
    }

    #blurb-pic {
        order: 0;
        font-size: clamp(1.0rem, 2vw, 1.2rem);
        width: 100%;
        overflow-x: auto;
        padding: 0;
        margin: 2px 0; /*left and right margin for ascii pic */
        text-align: center;
        line-height: 1.2; 
    }

    #blurb-pic pre {
        font-size: inherit;
        line-height: inherit;
        margin: 0 auto;
        width: fit-content;
        min-width: 0; /* allow 4 shrinking */
    }

    /* #blurb-name-header {
        font-size: clamp(1.3rem, 3vw, 1.6rem);
        padding-bottom: 5px;
        margin-bottom: 8px;
        text-align: left; 
        width: 100%;
    } */

    #blurb-about {
        max-width: 100%;
        font-size: clamp(1.0rem, 3vw, 1.2rem);
        text-align: justify;
        font-family: monospace;
        font-style: normal;
        font-weight: 470;
        width: 100%;
        box-sizing: border-box;
    }

    #blurb-nav {
        padding-left: 5px;
        font-size: clamp(1.0rem, 3vw, 1.2rem);
    
    }

    #artifacts-about {
        font-size: clamp(1.0rem, 3vw, 1.3rem);
    }
}


@media (max-width: 568px) {
    .landing-page-content {
        width: 90%;
        padding: 14px;
    }

    #blurb-pic {
        font-size: clamp(1.0rem, 2vw, 1.3rem); 
        margin-bottom: 20px;
    }

    #blurb-pic pre {
        line-height: 1.1;
    }

    /* #blurb-name-header {
        font-size: clamp(1.4rem, 4vw, 1.7rem);
        text-align: center;
    } */
    
    #blurb-about {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: clamp(1.0rem, 3vw, 1.3rem);
        font-weight: 470;
        font-family: monospace;
        font-style: normal;
    }

    #blurb-nav {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-weight: 470;
        font-size: clamp(1.0rem, 3vw, 1.2rem);
    }

    #artifacts-about {
        font-size: clamp(1.0rem, 3vw, 1.4rem);
    }

    .nav-link {
        font-size: clamp(1.0rem, 3vw, 1.2rem);
        text-align: center;
        margin: 2px 0;
        font-weight: 450;
        font-family: monospace;
    }
}